name: Swift Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Import Swift signing keys
        run: |
          curl --silent --retry 3 --location --fail https://swift.org/keys/all-keys.asc \
            | gpg --batch --import -

      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "5.9"
      - name: Run tests
        run: swift test --package-path maestro/swift
